/* Adminpg.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  #addnew {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  h2{
    text-align: center;
  }
  form label {
    width: 100%;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  table th {
    background-color: #4caf50;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .del {
    background-color: rgb(255, 69, 69);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .slot {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  